html {
    background-color: rgb(72, 117, 54);
}
.backplate-img {
    width: 375px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}

.hrefs {
    /* display: block; */
    margin: 0 auto;
    max-width: 200px;
    /* text-align: center;  */
    /* position: absolute; */
    
    transform: translate(0,-380px);
}

.git-url {
    
    font-weight: bold;

}